.SNavbar__modalClose {
	position: fixed;
	left: 0;
	top: 0;
	width: 60%;
	height: 100%;
	z-index: 2;
	padding-top: 1.5rem;
	border-radius: 1em;
	background-color: #fff;
	outline: 0;
	outline-style: dotted;
	pointer-events: auto;
	box-shadow: rgba(10, 10, 10, 0.3) 0 0 2px 0;
	overflow: auto;
	transform: translateX(-100%);
}

.SNavbar__modalOpen {
	position: fixed;
	left: 0;
	top: 0;
	width: 60%;
	height: 100vh;
	z-index: 2;
	padding-top: 1.5rem;
	border-radius: 1em;
	background-color: #fff;
	outline: 0;
	outline-style: dotted;
	pointer-events: auto;
	box-shadow: rgba(10, 10, 10, 0.3) 0 0 2px 0;
	overflow: auto;
	transition: transform 0.5s ease-in-out;
	transition: all 0.5s ease;
	transform: translateX(0);
}

.SNavbar__mainLy {
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-rows: 10% 90%;
}

.SNavbar__header {
	width: 100%;
	display: grid;
	grid-template-columns: 80% 20%;
}

.SNavbar__body {
	width: 100%;
	display: grid;
}

.SNavbar__closeBtn {
	color: #000;
	justify-self: flex-end;
	padding: 0.75rem 1.25rem 0.75rem 0;
	font-weight: 600;
	text-decoration: underline;
	cursor: pointer;
}